.cooperation-wrapper {
    position: relative;
    height: 42vmax;
}
.cooperation-image-bg {
    background-image: url("//images.ctfassets.net/pzzgna09n4z0/quSoOCXaW46MSu0S8ecme/a0c58fea4d217eb737aef288fc412c77/Img_3.png?w=1920&fm=webp&q=75");
    position: absolute;
    z-index: -1;
    background-size: 135%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 44vmax;
    transition: all 1.3s ease;
}
.cooperation-text {
    display: flex;
    justify-content: space-between;
}
.cooperation-description {
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: .75rem;
    display: inline-block;
    margin-top: 4rem;
}
.cooperation-text-group {
    display: flex;
    justify-content: space-between;
    margin-right: 6vmax;
    margin-left: 7vmax;
}
.footer-title-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 7vmax;
    position: relative;
}
.footer-title-wrapper2{
    display: flex;
    flex-direction: column;
    margin-top: 7vmax;
}
.cooperation-title {
    font-size: 3.6vmax;
    line-height: 1.4;
    text-align: left;
    font-family: 'NoeDisplay';
    font-weight: 500;
    margin: 0;
    display: inline-block;
    transform: translateY(130%);
    transition: all .8s ease;
}
.cooperation-title._active{
    transform: translateY(0);
}
.cooperation-link-wrapper{
    position: relative;
}
.cooperation-link {
    cursor: pointer;
    font-size: .75rem;
    font-weight: 600;
    display: inline-block;
    height: 20px;
    margin-top: 4vmax;
    transform: translateY(150%);
    transition: all .8s ease;
}
.cooperation-link._active{
    transform: translateY(0);
}
.cooperation-link:after{
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 0;
    margin-top: 4px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s ease-in-out;
}
.cooperation-link._active:after{
    width: 110%;
}
.cooperation-link:hover:after{
    width: 0;
}
.cooperation-contact {
    display: flex;
    margin-top: 3vmax;
    transform: translateY(130%);
    transition: all .8s ease;
}
.cooperation-contact._active{
    transform: translateY(0);
}
.cooperation-text-strong {
    position: absolute;
    z-index: -1 !important;
    transform: translateX(-20%) translateY(-33%) rotate(-16deg);
    font-size: 4vmax;
    font-weight: 300;
}
.email-link{
    font-size: 1.3vmax;
    text-decoration: none;
    color: #fff;
    margin-top: 1rem;
}
.email-link:after{
    display: block;
    position: relative;
    content: "";
    background: #fff;
    width: 0;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}
.email-link:hover:after{
    width: 100%;
}
.footer{
    background: #e4d9d9;
    height: 100%;
    transform: translateY(7%);
}
.footer-cols-wrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 7vmax;
    margin-left: 7vmax;
    padding-top: 5vmax;
}
.footer-title {
    line-height: 1.4;
    font-family: 'NoeDisplay';
    font-size: 1.9vmax;
    font-weight: 500;
    letter-spacing: .1rem;
    margin: 0;
    margin-bottom: .5rem;
}
.footer-link {
    letter-spacing: .1rem;
    color: #f95b5b;
    display: inline-block;
    font-weight: 500;
    font-family: 'NoeDisplay';
    font-size: 1.9vmax;
    margin-top: 0;
    cursor: pointer;
}
.footer-link:after{
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 105%;
    background: #f95b5b;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}
.footer-link:hover:after{
    width: 0;
}
.footer-col-2 {
    display: flex;
}
.footer-col-2 a{
    text-decoration: none;
}
.footer-text-group1 {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}
.footer-details {
    font-weight: 600;
    font-size: 1vmax;
    margin: 0;
    margin-bottom: 1rem;
    letter-spacing: .05rem;
    text-decoration: none;
    color:#fff;
    display: inline-block;
}
.footer-details:after{
    display: block;
    position: relative;
    content: "";
    height: 1px;
    width: 0;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}
.footer-details:hover:after{
    width: 100%;
}
.footer-text-group2 {
    display: flex;
    flex-direction: column;
}
.footer-end {
    font-size: 1.9vmax;
    font-family: 'NoeDisplay';
    font-weight: 500;
    text-align: right;
    margin-right: 7vmax;
    padding-bottom: 5vmax;
}

