.main{
  overflow-x: hidden !important;
}
.main-images{
  overflow-x: hidden !important;
  display: flex;
  justify-content: center;
}
.main-image.quickie{
  background: url('https://images.ctfassets.net/pzzgna09n4z0/332ERI87ZSKEeS2Oyguy4Q/1f4fe8db8c0c8dc15e20b52905e03224/img-step-1.jpg?w=1920&fm=webp&q=75') ; 
  background-size: 130%;
  background-repeat: no-repeat;
  z-index: -1;
  width: 28vmax;
  height: 40vmax;
  margin-top: 11vw;
  margin-left: 0;
  margin-right: 0;
  background-position: center;
  opacity: .99;
  transition-duration: 1000ms;
  transition: background-size opacity 1s ease;
}
._hide{
  opacity: 0 !important;
}
.main-image._active{
  background-size: 100%;
}
.main-image.classic{
  background: url("//images.ctfassets.net/pzzgna09n4z0/nPqHascaA0qWgKK6GeCEQ/50410fea336065f3f8968cfaf4b09ff2/img-step-3-1.jpg?w=1920&fm=webp&q=75") ; 
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  width: 28vmax;
  height: 40vmax;
  margin-left: 0;
  margin-right: 0;
  margin-top: 11vw;
  background-position: center;
  opacity: 0;
  transition-duration: 1000ms;
  transition: background-size opacity 1s ease;
}
.main-image2._active{
  background-size: 100%;
}
.main-image.cure{
  background: url("//images.ctfassets.net/pzzgna09n4z0/48GKSxsqWA8CCiy0S2kgAM/43e3bc2b3fed9e826359341bdbe592a4/img-section-1-2.jpg?w=1920&fm=webp&q=75"); 
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  width: 28vmax;
  height: 40vmax;
  margin-left: 0;
  margin-right: 0;
  margin-top: 11vw;
  background-position: center;
  opacity: 0;
  transition-duration: 1000ms;
  transition: background-size opacity 1s ease;
}
.main-image3._active{
  background-size: 100%;
}
.main__text{
  position: relative;
  left: 16.5vw;
  top: -26.5vmax;
}
.br{
  display: none;
}
.main__steps{
  position: absolute;
}
.steps{
  font-size: 14px;
  font-weight: 600;
}
.main__title{
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 3.75vw;
  font-family:'NoeDisplay'; 
  line-height: 1.4;
  font-weight: 500;
}
.title{
  font-family:'NoeDisplay'; 
  line-height: 1.4;
  font-size: 3rem;
  font-weight: 500;
}
.line{
  position: relative;
  display: block;
  margin-right: 3rem;
  margin-left: 1rem;
  height: 2px;
  width: 20vw;
  background: #f95b5b;
  z-index: 10;
  }
.main__text-description{
  font-size: 1.3vw;
  position: absolute;
  display: inline-block;
  z-index: 10;
  top: 17vw;
  left: 46vw;
  text-transform: uppercase;
  font-weight: 600;
  transform: translateY(100%);
  transition: all .8s ease;
}
.main__text-description._active{
  transform: translateY(0);
}
.main_images-group{
  position: relative;
  overflow-x: hidden !important;
}
.main-right-decoration{
  position: absolute;
  left: 54.5vw;
  top: -42.5vmax;
  width: -2vmax;
  height: 8vmax;
  z-index: -2;
  transform: scale(0);
  transition: all 1s ease;
}
.main-right-decoration._active{
  transform: scale(1);
}
.main-green-decoration{
  position: absolute;
  left: 32vw;
  top: -13.5vw;
  width: 10.7vw;
  height: 14vw;
  z-index: -2;
  transform: scale(0);
  transition: all 1s ease;
}
.main-green-decoration._active{
  transform: scale(1);
}
.main-branch-decoration{
  position: absolute;
  left: 54.5vw;
  width: 8vw;
  height: 15vw;
  z-index: 1;
  top: -44vmax;
}
.main-nails-styles{
  display: flex;
  justify-content: center;
  padding-top: 4.5vw;
  margin-left: -5vw;
  /* padding-bottom: 5vw; */
  overflow-x: hidden !important;
}
.main-nails-styles__item{
  cursor: pointer;
  color: #f95b5b;
  font-family: 'Northwell';
  padding-left: 4.5vw;
  font-size: 4.7vw;
  font-weight: 300;
  line-height: 1.1;
  opacity: .3;
  transition: .4s;
  user-select: none;
  position: relative;
}
.main-nails-styles__item.active{
  opacity: .99;
}
.main-nails-styles__item.opacity{
  opacity: .3;
}
.circled{
  height: 9vw;
  width: 11vw;
  position: absolute;
  z-index: -3;
  top: -2.5vw;
  left: 3.3vw;
  opacity: 0;
  pointer-events: none;
}
.circled.cure{
  margin-left: -1.5vw;
}
.circled.quickie{
  opacity: 1;
}
.nails__steps_step2-row{
  display: flex;
  margin-top: 8.5vw;
}
.image-wrapper{
  position: relative;
  width: 50%;
}
.nails-steps{
  overflow-x: hidden !important;
}
.nails_steps-image{
  background-image:url("//images.ctfassets.net/pzzgna09n4z0/2YPxjpfe48qWascM0m42Ke/ece68fdfa93f22222e93e82e3e1144c6/img-step-2-2.jpg?w=1200&fm=webp&q=75");
  background-size:170% 170%;
  background-repeat: no-repeat;
  background-position: center;
  height: 47vw;
  width: 100%;
  flex-basis: 50%;
  transition: all 1.5s ease;
}
.nails_steps-image._active{
  background-size:100% 100%;
}
.step-2{
  position: relative;
  width: 50%;
}
.nails__step2-wrapper{
  background: #c1c9d0;
  flex-basis: 50%;
  height: 47vw;
  display: flex;
}
.nails__step2-text{
  position: relative;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  left: 30%;
  top: 10%;
  z-index: 1;
}
.nails__step{
  display: block;
  margin-bottom: 15%;
  transform: translateY(150%);
  transition: all .8s ease;
}
.nails__step._active{
  transform: translateY(0);
}
.nails__steps-title{
  display: block;
  width: 120%;
  font-size: 3vmax;
  transform: translateY(150%);
  transition: all .8s ease;
}
.nails__steps-title._active{
  transform: translateY(0);
}
.nails__steps-text-strong{
  z-index: -1;
  position: absolute;
  font-size: 5vmax;
  transform: translateY(-25%) translateX(10%) rotate(-16deg);
}
.nails__steps-link{
  display: inline-block;
  cursor: pointer;
  margin-top: 15%;
  text-decoration: none;
  color: #f95b5b;
  font-size: 1.3fvw;
}
.link-wrapper{
  transform: translateY(150%);
  transition: all .8s ease;
  width: 105%;
}
.link-wrapper._active{
  transform: translateY(0);
}
.nails__steps-link:after{
  display: block;
  position: relative;
  content: "";
  width: 0%;
  background:#f95b5b;
  height: 2px;
  transition: width .5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}
.nails__steps-link:hover:after{
  width: 0 !important;
}
.nails__steps-link._active:after{
  width: 110%;
}
.nails__steps_step3-row{
  display: flex;
}
.nails__step3-wrapper{
  flex-basis: 50%;
  display: flex;
  background: #8c9a65;
  height: 47vw;
}
.step3-text{
  top: 9vw;
  left: 25%;
}
.nails__steps-link-step3{
  color: #fff;
  opacity: .7;
}
.nails__steps-link-step3:after{
  background-color: #fff;
}
.nails__steps-link-step3:hover:after{
  width: 0;
}
.nails__step3-text-strong{
  color: #fff;
  font-size: 5vmax;
  opacity: .7;
  display: inline-block;
  position: relative;
  max-height: 10px;
}
.nails__steps-images-group{
  flex-basis: 50%;
  max-height: 60vmax;
}
.nails__steps-image2{
  background-image: url("//images.ctfassets.net/pzzgna09n4z0/E9YnITGFLqCmOeY4CGes2/6b4b734795d315ce63bd15c059b47093/img-step-2-1_2x.jpg?w=960&fm=webp&q=75");
  background-size:150%;
  background-repeat: no-repeat;
  background-position: center;
  width: 21vw;
  height: 25vmax;
  position: relative;
  left: 15vw;
  top: -21vmax;
  transition: all 1.5s ease;
}
.nails__steps-image2._active{
  background-size:100%;
}
.image-2-decoration{
  position: relative;
  width: 8vw;
  height: 8vmax;
  top: 7.5vw;
  left: 64%;
  z-index: 1;
}
.nails__steps-image3{
  background-image: url("//images.ctfassets.net/pzzgna09n4z0/nPqHascaA0qWgKK6GeCEQ/50410fea336065f3f8968cfaf4b09ff2/img-step-3-1.jpg?w=1920&fm=webp&q=75");
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center;
  width: 29vw;
  height: 38vmax;
  z-index: 1;
  position: relative;
  left: 10vw;
  top: -11vmax;
  transition: all 1.5s ease;
}
.nails__steps-image3._active{
  background-size:100%;
}
.image-3-decoration{
  position: relative;
  z-index: -2;
  width: 23.5vw;
  top: -29vmax;
  left: 2.5vw;
}
.nails-steps-description{
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.strong-text-block{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  top: -14vmax;
  position: relative;
}
.steps__text-strong{
  max-width: 17vmax;
  max-height: 4vmax;
  display: inline-block;
  position: relative;
  left: 25%;
  top: 80%;
  font-size: 4.5vmax;
  margin: 0;
  transform: translateY(170%) rotate(-11deg);
  transition: all .8s ease;
}
.steps__text-strong._active{
transform: translateY(0) rotate(-11deg);
} 
.steps__text-strong:nth-child(2){
  left: 38%;
}
.nails-steps-privilege-text{
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3vmax;
  margin: 0;
}
.nails-steps-privilege{
  margin-top: 4vw;
  margin-bottom: 2vmax;
  position: relative;
  max-width: 25%;
  left: 15%;
  transform: translateY(100%);
  transition: all .8s ease;
}
.nails-steps-privilege._active{
  transform: translateY(0);
}
.nails-steps-privilege::before{
  content: "*";
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  font-size: 6rem;
  line-height: .5;
  transform: translateY(25%);
  font-family: Northwell;
  color: #f95b5b;
}
.bg-images{
  display: flex;
  overflow-x: hidden !important;
}
.bg-image{
  height: 46vw;
  flex-basis: 50%;
  background-image: url("//images.ctfassets.net/pzzgna09n4z0/5zccoSyaycWemaOomEG84k/c56d1a4fbcbc129abc64c3263e18b7c7/img-mood-2.jpg?w=960&fm=webp&q=75");
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: block;
  margin-bottom: 0;
  transition: all 1.5s ease;
}
.bg-image._active{
  background-size:100% 100%;
}
.bg-image.second{
  background-image: url("//images.ctfassets.net/pzzgna09n4z0/6jL7VD5kHeySwUOgUMaEIK/a588987f07ed54d4372ef909a651755b/img-mood-1.jpg?w=960&fm=webp&q=75");
}